<section class="section-footer" style="background-color: transparent">
<footer class="footer" style="height: 200px;top: 220px">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">

    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">

    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">

    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">

    </a></li>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" routerLink="/home">Trang chủ</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Thông tin</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Dịch vụ</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Sản phẩm</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Liên hệ</a></li>

  </ul>
  <p>&copy;VinTạy Group | All Rights Reserved</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</section>




<!--<footer class="bg-dark-gradient footer">-->
<!--  <div class="footer-top">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-sm-6 col-lg-3 my-4">-->
<!--          <div class="text-white-65 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</div>-->
<!--          <div class="nav footer-socila-icon">-->
<!--            <a href="#">-->
<!--              <i class="fab fa-facebook-f"></i>-->
<!--            </a>-->
<!--            <a href="#">-->
<!--              <i class="fab fa-twitter"></i>-->
<!--            </a>-->
<!--            <a href="#">-->
<!--              <i class="fab fa-instagram"></i>-->
<!--            </a>-->
<!--            <a href="#">-->
<!--              <i class="fab fa-linkedin-in"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-2 my-4">-->
<!--          <h5 class="text-white h6 mb-4">Customer</h5>-->
<!--          <ul class="list-unstyled white-link footer-links">-->
<!--            <li>-->
<!--              <a href="#">Get Corpo</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Documentation</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Help center</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Pricing</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Contact us</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-2 my-4">-->
<!--          <h5 class="text-white h6 mb-4">Product</h5>-->
<!--          <ul class="list-unstyled white-link footer-links">-->
<!--            <li>-->
<!--              <a href="#">Portfolio</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Blog</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Join our team</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Elements</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Products</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-2 my-4">-->
<!--          <h5 class="text-white h6 mb-4">Company</h5>-->
<!--          <ul class="list-unstyled white-link footer-links">-->
<!--            <li>-->
<!--              <a href="#">About</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Careers</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Legal &amp; Security</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">Terms of use</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">We're hiring!</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-3 my-4">-->
<!--          <h5 class="text-white h6 mb-4">Company</h5>-->
<!--          <div class="white-link">-->
<!--            <div class="d-flex pb-3">-->
<!--              <div class="avatar avatar-lg rounded">-->
<!--                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">-->
<!--              </div>-->
<!--              <div class="col ps-3">-->
<!--                <small class="text-white-65">29 March 2021</small>-->
<!--                <h6 class="font-w-500 h6 m-0"><a class="text-white" href="#">Markdown Language Sample Blog Post Styling</a></h6>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--              <div class="avatar avatar-lg rounded">-->
<!--                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" title="" alt="">-->
<!--              </div>-->
<!--              <div class="col ps-3">-->
<!--                <small class="text-white-65">29 March 2021</small>-->
<!--                <h6 class="font-w-500 h6 m-0"><a class="text-white" href="#">Markdown Language Sample Blog Post Styling</a></h6>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->



